replicaCount: 2


image:
repository: <ECR_REPO_URL>/myapp
tag: latest
pullPolicy: IfNotPresent


service:
type: ClusterIP
port: 8080


resources: {}


livenessProbe:
path: /health
port: 8080


readinessProbe:
path: /health
port: 8080
